* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  margin: 0;
  padding: 0;
}

.first_page {
  background-color: rgb(255, 250, 224);
  width: 100%;
}

.header_line {
  max-width: 140rem;
  height: 64px;
  padding: 12px 20px;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  /* padding: 12px 20px; */
  /* align-items: center;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px; */
}
.logo {
  display: flex;
  width: 100px;
  height: 65px;
}
.header_content {
  color: #3c3c3c;
  font-weight: 600;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}

.header_menu {
  font-size: 18px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  margin-right: 30px;
}

#header_search {
  font-size: 16px;
  width: 250px;
  /* margin: 16px; */
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
  padding: 9px 16px;
  background-color: #e2e2e2;
  border: 0px;
  border-radius: 8px;
}

.discription {
  margin-top: 20px;
}

#button {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: #ffffff;
  border: 1px;
  border-radius: 8px;
  border-style: solid;
}

li {
  list-style: none;
}

.first_page {
  justify-content: center;
  display: flex;
  /* align-items: center; */
}

.t1 {
  font-size: 54px;
  font-weight: 320;
  line-height: 76px;
  margin-bottom: 32px;
  margin-left: 210px;
  font-weight: 700;
  padding: 200px 0px 0px;
}

.t2 {
  font-size: 20px;
  font-weight: 190;
  line-height: 30px;
  margin-left: 210px;
  color: #7c7c7c;
}

.buttons {
  width: 180;
  height: 56;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 210px;
}

.Google_b {
  width: 150;
  height: 56;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #ff6f0f;
  border: 0px;
  border-radius: 10px;
  padding: 14px 22px;
  margin: 0px 10px 0px 0px;
  align-items: center;
}

.google_t {
  font-size: 17px;
  font-weight: 460;
  margin-left: 8px;
  color: #ffffff;
}

.appstore_b {
  width: 150;
  height: 56;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #ff6f0f;
  border: 0px;
  border-radius: 10px;
  padding: 14px 30px;
  margin: 0px 10px 0px 0px;
  background-color: rgb(255, 111, 15);
  align-items: center;
}

.app_t {
  font-size: 17px;
  font-weight: 460;
  margin-left: 8px;
  color: #ffffff;
}

.f1_mainimage {
  margin-left: 150px;
}
