
* {

/*body{
  width: 100%;
}*/

body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


html,
body {
  margin: 0;
  padding: 0;
}

.first_page {
  background-color: rgb(255, 250, 224);
  width: 100%;
}

.header_line {
  max-width: 140rem;
  height: 64px;
  padding: 12px 20px;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  /* padding: 12px 20px; */
  /* align-items: center;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px; */
}
.logo {
  display: flex;
  width: 100px;
  height: 65px;
}
.header_content {
  color: #3c3c3c;
  font-weight: 600;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}

.header_menu {
  font-size: 18px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  margin-right: 30px;
}

#header_search {
  font-size: 16px;
  width: 250px;
  /* margin: 16px; */
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
  padding: 9px 16px;
  background-color: #e2e2e2;
  border: 0px;
  border-radius: 8px;
}

.discription {
  margin-top: 20px;
}

#button {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: #ffffff;
  border: 1px;
  border-radius: 8px;
  border-style: solid;
}

li {
  list-style: none;
}

.first_page {
  justify-content: center;
  display: flex;
  /* align-items: center; */
}

.t1 {
  font-size: 54px;
  font-weight: 320;
  line-height: 76px;
  margin-bottom: 32px;
  margin-left: 210px;
  font-weight: 700;
  padding: 200px 0px 0px;
}

.t2 {
  font-size: 20px;
  font-weight: 190;
  line-height: 30px;
  margin-left: 210px;
  color: #7c7c7c;
}

.buttons {
  width: 180;
  height: 56;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 210px;
}

.Google_b {
  width: 150;
  height: 56;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #ff6f0f;
  border: 0px;
  border-radius: 10px;
  padding: 14px 22px;
  margin: 0px 10px 0px 0px;
  align-items: center;
}

.google_t {
  font-size: 17px;
  font-weight: 460;
  margin-left: 8px;
  color: #ffffff;
}

.appstore_b {
  width: 150;
  height: 56;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #ff6f0f;
  border: 0px;
  border-radius: 10px;
  padding: 14px 30px;
  margin: 0px 10px 0px 0px;
  background-color: rgb(255, 111, 15);
  align-items: center;
}

.app_t {
  font-size: 17px;
  font-weight: 460;
  margin-left: 8px;
  color: #ffffff;
}

.f1_mainimage {
  margin-left: 150px;
  }

.body3 {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f9f9f9;
}

.body4 {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex; 
  flex-direction: row-reverse;
  background-color: #f6fdec;
}

.service-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ff6f0f;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}


.subtitle {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0px;
}


.maintext {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.mainbuttons

.mainbutton {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #e9ecef;
  border-radius: 6px;
  padding: 12px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.mainbuttons {
  margin-top: 30px;
}

footer {
  border-top: 1px solid lightgray;
  padding: 0 1.6rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upperbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
  height: 255px;
  width: 768px;
  padding: 48px 0px 48px 0px;
}

.box img {
  width: 15px;
  height: 15px;
  margin: 14px 0px;
}

.content_box {
  width: 360px;
  height: 60px;
  display: flex;
  flex-direction: row;
}
.download_button {
  width: 137px;
  height: 34px;
  margin-top: 8px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(234, 235, 238);
  font-weight: 700;
}
#google_box {
  margin-left: 15px;
}
.menu1 {
  display: flex;
  flex-direction: row;
}

#menu1_row1,
#menu1_row2,
#menu1_row3 {
  width: 147.83px;
  display: flex;
  flex-direction: column;
}

.menu3 {
  display: flex;
  flex-direction: row;

  color: rgb(128, 128, 128);
  font-size: 13px;

  box-sizing: border-box;
  padding: 24px 0px 100px 0px;
  border-top-color: rgb(211, 211, 211);
  border-top-width: 1px;
  border-top-style: solid;
  position: relative;
  height: 149px;
  width: 768px;
  flex-direction: column;
}

.about1 {
  line-height: 19.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about1 p {
  margin: 0px 0px 0px 0px;
}

.about1_2 {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.about1_2 img {
  width: 20px;
  height: auto;
  margin-right: 16px;
  opacity: 50%;
}
.language {
  display: flex;
  flex-direction: row;
}
.language select {
  color: gray;
  background-color: white;
  border: none;
  text-indent: 0.1rem;
  cursor: pointer;
}
#language {
  margin-right: 4px;
}

.about2,
.about3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.about2 p,
.about3 p {
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 0px;
}

.menu1 a:link {
  color: rgb(0, 0, 0);
  outline: 0;
  text-decoration: none;
  font-weight: normal;
}

.menu1 a:hover {
  text-decoration: underline;
}

.menu1 a:visited {
  color: rgb(0, 0, 0);
}
.about2 a:link,
.about3 a:link {
  color: rgb(128, 128, 128);
  font-weight: bold;
  text-decoration: none;
}

.about2 a:hover,
.about3 a:hover {
  text-decoration: underline;
}

.about2 a:visited,
.about2 a:visited {
  color: rgb(128, 128, 128);
}

.content_box a:link {
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-decoration: none;
}
.content_box a:visited {
  color: rgb(0, 0, 0);

}
